<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kannadachristianwallpapers.app">

    <!-- internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- skannadachristianwallpapersaper and access camera photos permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- kannadachristianwallpapersaper permission -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name="com.kannadachristianwallpapers.app.app.MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.CategoryDetailsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/DetailsActivityTheme" />
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.FullscreenActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.PhotoFullscreenActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="" />
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/menu_setting" />
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.PhotoListActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/text_my_photos"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.FavoriteActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_favorite" />
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.AboutActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_about" />
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.SearchActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.NotificationActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.NotificationContentActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.AlbumActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/title_albums"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.kannadachristianwallpapers.app.activity.SingleWallActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.kannadachristianwallpapers.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <!-- disable or remove following block of code to turn off push notification -->


        <!-- start block -->
        <service android:name="com.kannadachristianwallpapers.app.notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- end block -->
    </application>

</manifest>